<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/menu/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
	<ae:configuration>

		<members>
			<index>3</index>
			<title>Categories</title>
			<url>admin/category</url>
			<icon>/images/category/category-16.png</icon>

			<member>
				<title>Manage</title>
				<url>admin/category</url>
			</member>

			<member>
				<title>Add Category</title>
				<url>admin/category/add</url>
			</member>
		</members>

	</ae:configuration>
</ae:configurations>
