/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* General
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@font-face{
	font-family: Terafik;
	src: url("/themes/khashayar/fonts/terafik.eot");
	src: url("/themes/khashayar/fonts/terafik.ttf") format("truetype");
}

@font-face{
	font-family: Terafik;
	font-weight: bold;
	src: url("/themes/khashayar/fonts/terafikb.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: #3C3C3C;
	font-size: 10px;
	line-height: 2em;
	background-color: #303C44;
	font-family: Helvetica, Arial, Verdana, Sans-serif;
}

body.rtl {
	font-size: 12px;
	font-family: Terafik, Tahoma, Helvetica, Arial, Verdana, Sans-serif;
}

fieldset { border-width: 0; }

a {
	color: #3C3C3C;
	text-decoration: none;
}

a:hover {
	color: #9D9D9D;
	text-decoration: none;
}

h1 { font-size: 1.5em; }
h3 { font-size: 1.4em; }

img { border: 0; }

input[type="text"], textarea {
	width: 250px;
	padding: 3px;
	font-size: 1em;
	border: 1px solid #DDD;
}

ol, ul {
	list-style-type: none;
}

ol, ul, p, blockquote {
	margin: 1em 0;
}

small {
	font-size: 0.95em;
}

textarea {
	width: 560px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Navigation Bar
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#xrx-navigation ul {
	width: 920px;
	margin: 0 auto;
	font-size: 1.2em;
}

#xrx-navigation a {
	display: block;
	padding: 0.5em 1em;
	color: #DDDDDD;
	line-height: 2em;
	font-weight: bold;
}

#xrx-navigation a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #444F56;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Header
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#xrx-header {
	color: #B1B2B4;
	background-color: #F7F7F7;
}

#xrx-description {
	text-align: justify;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* General Classes
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.xrx-inside {
	width: 920px;
	margin: 0 auto;
	padding: 20px 30px;
	font-size: 1.2em;
}

.xrx-clear {
	clear: both;
}

.xrx-clear-left {
	clear: left;
}

.xrx-clear-right {
	clear: right;
}

.xrx-left {
	float: left;
}

.xrx-right {
	float: right;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Container
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#xrx-container {
	color: #3C3C3C;
	background-color: #FFF;
}

#xrx-container .xrx-inside {
	background: url("/themes/khashayar/images/wrapper-top.gif") no-repeat scroll top right transparent;
}

#xrx-sidebar {
	width: 175px;
	margin-top: 14px;
	overflow: hidden;
}

#xrx-sidebar h2 {
	margin-bottom: 2px;
	padding: 5px 0 7px 0;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #DDD;
}

#xrx-content {
	width: 700px;
	margin-top: 14px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* News
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.xrx-news-item {
	margin-bottom: 30px;
}

.xrx-news-item h1,
.xrx-news-item h2 {
	margin-bottom: 2px;
	padding: 5px 0;
	border-top: 1px solid #AAA;
}

.xrx-news-meta {
	width: 150px;
	margin-top: 7px;
	padding: 0 5px;
	color: #5C5C5C;
	font-size: 0.95em;
	font-weight: bold;
}

.xrx-news-entry {
	width: 540px;
	padding-top: 12px;
	text-align: justify;
	border-top: 1px solid #DDD;
}

.xrx-news-entry a {
	border-bottom: 1px dotted #3C3C3C;
}

.xrx-news-entry a:hover {
	border-bottom: 1px dotted #9D9D9D;
}

.xrx-news-meta-view {
	margin: 5px 0;
	color: #5C5C5C;
	font-size: 0.95em;
	line-height: 110%;
}

.xrx-news-entry-view {
	width: auto;
	text-align: justify;
	border-top: 1px solid #DDD;
}

.xrx-news-entry-view a {
	border-bottom: 1px dotted #3C3C3C;
}

.xrx-news-entry-view a:hover {
	border-bottom: 1px dotted #9D9D9D;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Comments
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#xrx-comments-list {
	margin-top: 14px;
}

#xrx-comments-list h3 {
	margin: 0px;
	padding: 4px 0;
	border-top: 1px solid #8F8F8F;
}

#xrx-comments-list ol {
	margin: 5px 0;
}

#xrx-comments-list li {
	margin: 0;
	padding: 0;
	border-top: 1px solid #DDD;
}

#xrx-comments-list a {
	border-bottom: 1px dotted #3C3C3C;
}

#xrx-comments-list a:hover {
	border-bottom: 1px dotted #9D9D9D;
}

.xrx-comment-credential {
	width: 140px;
	overflow: hidden;
}

.xrx-comment-credential.xrx-left {
	margin: 1em 8px 1em 0;
}

.xrx-comment-credential .xrx-right {
	margin: 1em 0 1em 8px;
}

#xrx-comment-form {
	margin: 50px 0 20px;
}

#xrx-comment-form h3 {
	margin: 0px;
	padding: 4px 0;
	border-top: 1px solid #8F8F8F;
	border-bottom: 1px solid #DDD;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Pagination
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.xrx-list-nav {
	padding: 20px 0;
}

.xrx-pagination {
	text-align: center;
}

.xrx-pagination a {
	margin: 0 10px;
	padding: 5px 30px;
	font-weight: bold;
}

.xrx-pagination a:hover {
	color: #9D9D9D;
	background-color: #F1F1F1;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Bottom
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#xrx-bottom {
	background-color: #F7F7F7;
}

#xrx-bottom .xrx-inside {
	background: url("/themes/khashayar/images/wrapper-bottom.gif") no-repeat scroll top left transparent;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Footer
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#xrx-footer {
	color: #EEE;
	background-color: #303C44;
}

#xrx-footer .xrx-inside {
	font-size: 0.95em;
}

#xrx-footer p {
	margin: 0px;
}

#xrx-footer a {
	color: #EEE;
}

#xrx-footer a:hover {
	color: #FFF;
	border-bottom: 1px dotted #FFF;
}