/* General */

* {
	margin: 0;
	padding: 0;
}

body {
	color: #3C3C3C;
	font-size: 10px;
	background-color: #303C44;
	font-family: Helvetica, Arial, Verdana, Sans-serif;
}

a {
	text-decoration: none;
}



/* Navigation Bar */

#xrx-navigation {
	width: 920px;
	margin: 0 auto;
	font-size: 1.2em;
	list-style-type: none;
}

#xrx-navigation li {
	float: left;
}

#xrx-navigation a {
	display: block;
	padding: 0.5em 1em;
	color: #DDDDDD;
	line-height: 2em;
	font-weight: bold;
}

#xrx-navigation a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #444F56;
}



/* Header */

#xrx-header {
	color: #D6CECB;
	background-color: #F7F7F7;
}



/* Class */

.xrx-inside {
	width: 920px;
	margin: 0 auto;
	padding: 20px 30px;
	font-size: 1.2em;
}

.xrx-clear {
	clear: both;
}

.xrx-left {
	float: left;
}

.xrx-right {
	float: right;
}



/* Container */

#xrx-container {
	color: #3C3C3C;
	background-color: #FFF;
}