<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/menu/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
	<ae:configuration>

		<members>
			<index>1</index>
			<title>dashboard</title>
			<url>admin</url>
			<icon>/images/default/dashboard.png</icon>
		</members>

	</ae:configuration>
</ae:configurations>
