/* General */

legend {
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 1.2em;
	font-weight: bold;
}



/* Header */

#xrx-header {
	height: 50px;
	color: #999;
	background: #464646 none repeat scroll 0 0;
}

#xrx-header h1 {
	margin: 0px;
	padding: 4px 0px;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}

#xrx-header h1 a {
	margin-top: 2px;
	color: #FFF;
}

#xrx-header a:hover {
	text-decoration: underline;
}

.xrx-language-flag {
	margin: 0 2px;
}

.xrx-date {
	padding: 5px;
}

.xrx-wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 5px;
	clear: both;
}


/* Menu */

#xrx-menu {
	height: 25px;
	background-color: #e3e3e3;
}

#xrx-menu ul.xrx-left li {
	margin-right: 20px;
	padding: 4px;
	float: left;
}

#xrx-menu ul.xrx-right li {
	margin-left: 20px;
	padding: 4px;
	float: right;
}

#xrx-menu .xrx-wrapper {
	padding: 0px;
}



/* Content */

#xrx-content {
	color: #555;
}

.xrx-inside {
	width: 960px;
	margin: 0 auto;
}

.xrx-thumbnail-60.xrx-left {
	margin: 5px 5px 0 0;
}

.xrx-thumbnail-60.xrx-right {
	margin: 5px 0 0 5px;
}



/* Footer */

#xrx-footer {
	margin: 0px;
	padding: 1px 5px;
	color: #999;
	clear: both;
	background: #464646 none repeat scroll 0 0;
}

.xrx-logged-box {
	padding: 5px;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * */



/* News */

.xrx-news-list-left {
	margin-right: 150px;
	padding: 0px 5px;
	width: 750px;
}

.xrx-news-list-right {
	margin-left: 150px;
	padding: 0px 5px;
	width: 750px;
}

.xrx-news-content {
	padding: 10px 0px;
}

.xrx-news-entry {
	margin: 10px 5px;
	text-align: justify;
	line-height: 1.4em;
}

.xrx-news-category {
	width: 140px;
	overflow: hidden;
}

.xrx-news-category li {
	padding: 0px 10px;
}

.xrx-news-toolbox {
	padding: 10px 0px;
}



/* Comments */

#xrx-comments-list {
	margin: 20px 0px;
	border-top: 5px solid #999;
}

#xrx-comments-list li {
	margin: 10px 0;
	padding: 10px 0;
	border-bottom: 1px dotted #CCC;
}

#xrx-comment-disabled {
	color: #777;
	font-style: italic;
}