<?xml version="1.0" encoding="UTF-8"?>
<ae:configurations xmlns="http://agavi.org/agavi/config/parts/menu/1.0" xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0">
	<ae:configuration>

		<members>
			<index>4</index>
			<title>users</title>
			<url>admin/users</url>
			<icon>/images/user/user-16.png</icon>

			<member>
				<title>manage</title>
				<url>admin/user</url>
			</member>

			<member>
				<title>add</title>
				<url>user/register</url>
			</member>
		</members>

	</ae:configuration>
</ae:configurations>
